<!DOCTYPE html>
<html>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcomeyyyyyyyy!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
	<!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css"> -->

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
   <ul>
  <li><a  >Menotree</a></li>
  
</ul>
    <body style="margin:50px; padding:50">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

